*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #274754 /*#b7c9d5;*/
}


.statistics-wrapper {
    display: flex;
    flex-direction: column;
}

.statistics-wrapper > * {
    margin: 1rem 0;
}

.numbers {
    font-family: 'montserrat';
    font-weight: 600;
    margin: 1rem
}

.row {
    display: flex;
    justify-content: space-between;
}

.susceptible {
    color: #36CFB6
}

.infected {
    color: #FF2836;
}

.recovered {
    color: #96418A
}

.dead {
    color: #002632
}
